

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*, *:before, *:after {
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #666666;

	height: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*---------------------------------------------*/
a:focus {outline: none;}
a:hover {text-decoration: none;}

/* ------------------------------------ */
p {margin: 0px;}


/* ------------------------------------ */

/* ------------------------------------ */


/*//////////////////////////////////////////////////////////////////
[ FONT SIZE ]*/

/*//////////////////////////////////////////////////////////////////
[ PADDING ]*/
.p-t-18 {padding-top: 18px;}
.p-t-45 {padding-top: 45px;}
.p-t-50 {padding-top: 50px;}
.p-b-36 {padding-bottom: 36px;}
.p-b-45 {padding-bottom: 45px;}
.p-b-60 {padding-bottom: 60px;}
.p-l-75 {padding-left: 75px;}
.p-r-75 {padding-right: 75px;}

/*//////////////////////////////////////////////////////////////////
[ MARGIN ]*/
.m-r-5 {margin-right: 5px;}



/*//////////////////////////////////////////////////////////////////
[ TEXT ]*/

/*------------------------------------------------------------------
[ Line height ]*/

/* ------------------------------------ */



/*//////////////////////////////////////////////////////////////////
[ SIZE ]*/



/*//////////////////////////////////////////////////////////////////
[ BACKGROUND ]*/



/*//////////////////////////////////////////////////////////////////
[ PSEUDO ]*/

/*------------------------------------------------------------------
[ Hover ]*/



/*//////////////////////////////////////////////////////////////////
[ EFFECT ]*/

/*------------------------------------------------------------------
[ Opacity ]*/


/*------------------------------------------------------------------
[ Wrap Picture ]*/

/* ------------------------------------ */

/* ------------------------------------ */

/*------------------------------------------------------------------
[  ]*/


/*------------------------------------------------------------------
[ Transition ]*/
.trans-04 {
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



/*//////////////////////////////////////////////////////////////////
[ POSITION ]*/

/*------------------------------------------------------------------
[ Display ]*/

.flex-w,
.flex-c-m,
.flex-col-sb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/*------------------------------------------------------------------
[ Position ]*/

/*------------------------------------------------------------------
[ Float ]*/


/*------------------------------------------------------------------
[ Top Bottom Left Right ]*/


/*------------------------------------------------------------------
[ Flex ]*/
/* ------------------------------------ */
.flex-w {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* ------------------------------------ */

/* ------------------------------------ */


/* ------------------------------------ */
.flex-c-m {
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

/* ------------------------------------ */

/*---------------------------------------------*/

.flex-col-sb {
	justify-content: space-between;
}

/*---------------------------------------------*/


/* ------------------------------------ */


.flex-col-sb {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}


/*------------------------------------------------------------------
[ Absolute ]*/

