<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
	<title>Mísula Arquitetura e Construção</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="https://misulaaec.com.br/">
    <meta property="og:title" content="Mísula Arquitetura e Construção">
    <meta property="og:description" content="Bem vindo à Mísula, somo especializados em Arquitetura Hoteleira, Retrofit e construções em Steel Frame.">
    <meta property="og:image" content="https://misulaaec.com.br/static/images/icons/logo.png">
    <meta property="og:image:width" content="480">
    <meta property="og:image:height" content="412">
    <meta property="og:site_name" content="Mísula Arquitetura e Construção">
    <meta itemprop="thumbnailUrl" content="https://misulaaec.com.br/static/images/icons/logo.png">
    <meta name="description" content="Bem vindo à Mísula, somo especializados em Arquitetura Hoteleira, Retrofit e construções em Steel Frame.">
    <meta name="language" content="Portuguese">
<!--===============================================================================================-->	
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--===============================================================================================-->
	<script src="https://use.fontawesome.com/35b352c82f.js"></script>
<!--===============================================================================================-->
	<link href="{% static 'css/util.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet" />
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="size1 bg0 where1-parent">
		<!-- Coutdown -->
		<div class="flex-c-m size2 where1 overlay1 where2 respon2" style="background-image: url('{% static 'images/dark-bg.PNG' %}'); background-size: 120px 120px;">
		</div>
		
		<!-- Form -->
		<div class="size3 flex-col-sb flex-w p-l-75 p-r-75 p-t-45 p-b-45 respon1">
			<div class="wrap-pic1">
				<img src="{% static 'images/icons/logo.png' %}" alt="LOGO">
			</div>

			<div class="p-t-50 p-b-60">
				<p class="m1-txt1 p-b-36">
					<span class="m1-txt2">Em Breve</span> nosso website estará no ar!
				</p>

				<p class="s2-txt3 p-t-18">
					Até então, você pode nos acompanhar nas redes sociais.
				</p>
			</div>

			<div class="flex-w">
				<a href="#" class="flex-c-m size5 bg3 how1 trans-04 m-r-5">
					<i class="fa fa-facebook"></i>
				</a>

				<a href="#" class="flex-c-m size5 bg4 how1 trans-04 m-r-5">
					<i class="fa fa-linkedin"></i>
				</a>

				<a href="https://www.instagram.com/misula.aec/" target="_blank" class="flex-c-m size5 bg5 how1 trans-04 m-r-5">
					<i class="fa fa-instagram"></i>
				</a>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>