.gray-bg {
	background: $px-gray;
}

.brown-bg {
	background: $px-brown;
}

.dark-bg {
	background: $px-dark;
}

.theme-bg {
	background: $px-theme;
}

.purple-bg {
	background: $px-purple;
}

.dark-gray-bg {
	background: $px-dark-gray;
}

.color-dark {
	color: $px-dark;
}
.color-white {
	color: $px-white;
}

.color-theme {
	color: $px-theme;
}

.color-purple::after {
	color: $px-purple;
}